<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Dashboard{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <div class="container">
        {% include 'admin/sidebar.html' %}
        <div class="content">
            {% include 'admin/header.html' %}
            {% block content %} {% endblock %}
        </div>
    </div>
    {% include 'admin/footer.html' %}
</body>

</html>
